.DS_Store?
ehthumbs.db
Thumbs.db
French/main/MiuiSystemUI.apk/res/raw/statusbar_clock.maml
French/main/MiuiSystemUI.apk/res/raw/statusbar_music.maml
French/main/ThemeManager.apk/res/drawable-fr-hdpi/wallpaper_detail_desktop_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xhdpi/desktop_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xhdpi/lockscreen_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xhdpi/wallpaper_detail_desktop_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xxhdpi/desktop_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xxhdpi/wallpaper_detail_desktop_mask.png
French/main/ThemeManager.apk/res/drawable-fr-xxhdpi/lockscreen_mask.png
French/main/ThemeManager.apk/res/drawable-fr-hdpi/wallpaper_detail_lockscreen_mask.png
French/device/cancro/xtra_t_app.apk/*
French/device/cancro/SVIService.apk/*
French/device/cancro/AntHalService.apk/*
French/main/O2O.apk/*
French/main/IRRemote.apk/*
French/main/MiShop.apk/*
French/main/SVIService.apk/res/values-fr/strings.xml
